html{
    background: url(../img/mapa.jpg);
}

.image{
    width: 250px;
    height: 250px;
}

img{
    width: 100%;
    height: 100%;
}   

.texto-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-sobre .sobre{
    width: 65%;
    height: 100%;
    font-size: 1.4em;
    background-color: rgba(255, 255, 255, 0.833);
    font-family: var(--secondary);
    font-weight: 700;
    color: rgba(128, 128, 128, 0.885);
    text-align: justify;
    margin: 50px 0 50px 0;
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: #e88a6177 0px 0px 0px 3px; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.flex-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 40px;
    width: 900px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    gap: 25px;
    background-color: #fff;
    /* margin-bottom: 20px; */
    /* border-radius: 17px; */
    /* flex-wrap: wrap; */
    /* border: 1px solid rgba(255, 166, 0, 0.898); */
}

.picture{
    border-radius: 20px;
}

.container .name{
    font-size: 2.7rem;
    padding-bottom: 20px;
    font-family: var(--secondary);
    font-weight: 700;
}

.container .flex-wrap:nth-child(2n+1){
    flex-direction: row-reverse;
}

.name{
    position: relative;
    padding-left: 20px;
}

.name::after{
    position: absolute;
    left: 0;
    top: -6;
    height: 43px;
    width: 5px;
    content: "";
    background-color: rgba(77, 77, 171, 0.64);
}

.container .name span{
    color: rgba(255, 0, 0, 0.525);
}

.container .text{
    font-size: 1.7rem;
    line-height: 35px;
    text-align: justify;
    font-family: var(--primary);
    font-weight: 400;
    margin-right: 10px;
    color: rgba(128, 128, 128, 0.885);
}

.footer{
    display: flex;
    background-color: #E86D33;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}

.footer h4{
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: logo, sans-serif;
}

.footer nav{
    margin: 50px 0;
}

.footer nav ul{
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.footer nav ul li a{
    color: #F2D8CE;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 20px;
    transition: 0.3s;
    font-family: var(--primary);
}

.footer nav ul li a:hover{
    font-weight: 700;
    color: #fff;
}

.footer .social i{
    font-size: 2rem;
    transition: 0.3s;
    color: #F2D8CE;
}

.footer .social a{
    margin: 20px;
}

.footer .social a:hover{
    color: skyblue;
}