:root{
    --primary: 'Open Sans', sans-serif;
    --secondary: 'Roboto', sans-serif;

    --primary-color:#0478a6b0;
    --secondary-color:#07c4d991;
    --blue-dark: #0F2F59;
    --blue-darker: #020426;
    --gray-300: #cbd5e0;
    --gray-400: #a0aec0;
    --gray-500: #718096;
    --gray-600: #4a5568;
    --gray-700: #2d3748;
    --gray-800: #1a202c;
    --gray-900: #171923;
}