:root{
    --primary: 'Open Sans', sans-serif;
    --secondary: 'Roboto', sans-serif;

    --primary-color:#0478a6b0;
    --secondary-color:#07c4d991;
    --blue-dark: #0F2F59;
    --blue-darker: #020426;
}